

*{
    margin:0;
    padding :0;
    box-sizing: border-box;
}
#curiopri{
    margin-top: 0px; 
    position:relative;

}
#curiopri img{
     width: 1365px; height: 300px;
    
}
#curiopri.contenedor{
    position: absolute;
    top:20%;
    left: 20%;
    transform:translateX(-50%)translateY(-50%);
    color:rgb(0, 0, 0);
}
#curipri h2{
    font-size: 28px ;
}
body{
    
    background: #ddd6f3; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ddd6f3, #faaca8); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ddd6f3, #faaca8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.contenedor h1{
    font-family:'Amatic SC', cursive;
 font-size: 50px;
    text-align: center;
    
}
#curiopri h2{
    font-family:'Amatic SC', cursive;
    font-size: 30px;
}
#curiopri h3{
    font-family:'Amatic SC', cursive;
    font-size: 30px;
}
#curiopri h4{
    font-family:'Amatic SC', cursive;
    font-size: 30px;
}
#curiopri h5{
    font-family:'Amatic SC', cursive;
    font-size: 30px;
}